.site-header{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;


    background: rgb(45,60,89, 0.35);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-bottom: 1px solid rgba(140, 169, 255, 0.3);


}

.header-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo span {
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.logo img{
    height: 20px;
    width: auto;
    padding-right: 10px;
}

.nav-links a{
    margin-left: 20px;
    text-decoration: none;
    color:  #213547;
    font-size: 15px;
}

.nav-links a:hover {
    color:#8CA9FF;
}



/*  MOBILE RESPONSIVE HEADER  */
@media (max-width: 768px) {
  .header-inner {
    padding: 12px 20px;
  }

  .nav-links {
    display: none; 
  }

  .logo img {
    height: 32px;
  }
}


/*  HAMBURGER MENU  */
.menu-btn {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  color: #213547;
}

/* Mobile menu container */
.mobile-nav {
  display: none;
  flex-direction: column;
  background-color: rgba(255, 248, 222, 0.95);
  padding: 20px;
}

.mobile-nav a {
  padding: 12px 0;
  text-decoration: none;
  color: #213547;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



/*  MOBILE RESPONSIVE  */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .mobile-nav {
    display: flex;
  }
}




