/*  ABOUT PAGE  */
.about-page {
  min-height: 100vh;
  padding: 60px 10%;
  background-color: #C9E6F0;
  overflow-y: auto;
}

.about-title {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 40px;
}

/* SECTIONS */
.about-section {
  background: #F3F6FF;
  padding: 25px 30px;
  border-radius: 14px;
  margin-bottom: 25px;
}

.about-section h2 {
  margin-bottom: 10px;
  color: #000;
}

.about-section p {
  color: #444;
  line-height: 1.6;
  font-size: 0.95rem;
}

/* MOBILE */
@media (max-width: 768px) {
  .about-page {
    padding: 40px 6%;
  }
}
