.home-main {
  background-color: #c9e6f0;
  min-height: calc(100vh - 80px);
  padding-top: 50px;
}

.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* TEXT AREA */
.home-text {
  flex: 1;
  padding: 80px 60px;
  max-width: 600px;
}

.home-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #213547;
}

.home-text p {
  font-size: 16px;
  color: #444;
  max-width: 420px;
  line-height: 1.6;
}

/* IMAGE AREA */
.home-image {
  display: flex;
  justify-content: flex-end;
}

.home-image img {
  width: 420px;
  height: 420px;
  object-fit: cover;

  border-top-left-radius: 220px;
  border-bottom-left-radius: 220px;
}

/* MOBILE RESPONSIVE HOME */

@media (max-width: 768px) {
  .home-section {
    grid-template-columns: 1fr;
  }

  .home-text {
    padding: 40px 20px;
    text-align: center;
  }

  .home-text h1 {
    font-size: 32px;
  }

  .home-text p {
    font-size: 14px;
    margin: 0 auto;
  }

  .home-image {
    justify-content: center;
    padding-bottom: 40px;
  }

  .home-image img {
    width: 260px;
    height: 260px;

    border-radius: 50%;
  }
}

/*  SECTION 2  */

.howto-section {
  padding: 80px 40px;
  text-align: center;
}

/* Call To Action, CENTERED BUTTON */
.howto-cta {
  margin-bottom: 30px;
}

.howto-cta a {
  display: inline-block;
  padding: 12px 28px;
  background-color: #8ca9ff;
  color: white;
  text-decoration: none;
  font-weight: 500;
  border-radius: 25px;
}

/* Title */
.howto-title {
  font-size: 32px;
  margin-bottom: 50px;
  color: #213547;
}

/* Cards layout */
.howto-cardSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Card */
.howto-card {
  background-color: #faffdd;
  padding: 30px 24px;
  border-radius: 12px;
  text-align: left;
}

.howto-card h3 {
  margin-bottom: 12px;
  color: #213547;
}

.howto-card p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #555;
}

.howto-card a {
  display: inline-block;
  padding: 8px 18px;
  background-color: #aac4f5;
  color: #213547;
  text-decoration: none;
  font-size: 14px;
  border-radius: 20px;
}

/*  MOBILE RESPONSIVE  */

@media (max-width: 768px) {
  .howto-section {
    padding: 60px 20px;
  }

  .howto-title {
    font-size: 26px;
  }

  .howto-cardSection {
    grid-template-columns: 1fr;
  }

  .howto-card {
    text-align: center;
  }
}
